<!--ESTE INDEX SE CREA AUTOMATICAMENTE CON LOS CAMPOS DE LA TABLA, SE CREA CON UN CONTROLLER ENTITY FRAMEWORK-->

@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<div class="form-group" style="text-align:center;">
    
    <h1 style="text-align:center;">BIENVENIDOS</h1>
    <img src="~/Content/images/OIP.jpg" width="800" height="240" />
    <h3 style="text-align:center;">AFOP - OPTICAL TESTING SYSTEM</h3>
    <h2 style="text-align:center;">Nuestros Productos</h2>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <table>
        <tr>
            <td>CONNECTOR - H</td>
            <td>MINI - AMT</td>
            <td>SERVICE</td>
            <td>MINI - HIBRIDOS</td>
        </tr>
        <tr>
            <td><img src="~/content/images/conh.jpg" width="250" ; height="250"></td>
            <td><img src="~/content/images/miniamt.jpg" width="250" ; height="250"></td>
            <td><img src="~/content/images/nodes.jpg" width="250" ; height="250"></td>
            <td><img src="~/content/images/minihibrid.jpg" width="250" ; height="250"></td>
        </tr>
    </table>
    <br />
    <p>Amphenol Fiber Optic Products - AFOP</p>
</div>